<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gamevector"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="jp.co.vector.chat.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="jp.co.vector.chat.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/android:Theme.NoTitleBar" >
        <activity
            android:name="com.example.gamevector.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="jp.co.vector.chat.CharacterListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="jp.co.vector.chat.GroupListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="jp.co.vector.chat.CreateGroupActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="jp.co.vector.chat.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <receiver
            android:name="jp.co.vector.chat.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gamevector" />
            </intent-filter>
        </receiver>

        <service android:name="jp.co.vector.chat.gcm.GcmIntentService" />

        <activity
            android:name="jp.co.vector.chat.AddMembers"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="jp.co.vector.chat.CameraCropActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="jp.co.vector.chat.PhotoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="jp.co.vector.chat.ProfileActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="jp.co.vector.chat.AccountBlockedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>